.block-1{
    /* background-image: url("../media/blck and whte2.jpg"); */
    background: linear-gradient(transparent 70%, white),
      url("../media/blck and whte2.jpg");
    background-size: cover;
    background-position:center 40%;
    /* background: linear-gradient(rgba(0,0,0,0) 70%, red), url("../media/blck and whte2.jpg"); */
    
}
.block-2{
    width: 100%;
    background-image: url("../media/blck and whte 2.jpg");
    background-size: cover;
    background-position:center 40%;
}

.info-block section{
    max-width: 50%;
    padding: 100px 10px;
    text-shadow: 0px 0px 30px white;
}
.info-1 section{
    float: right;
}
.info-2 section{
    text-align: right;
    max-width: 60%;
}
.info-2 h3{
    margin-right: -30%;
}
.info-1 h3{
    margin-left: -50%;
}

h3{
    color: #ab9200;
    font-size: 2.2em;
    padding: 40px 0;
}
.info-block span{
    padding-bottom: 2px;
    border-bottom: 2px solid #ab9200;
}

.info-block{
    height: 100%;
}