.contact{
    padding: 100px 10px;
    box-sizing: border-box;
    width: 100%;
    color: #ab9200;
}


.contact_container{
    display: flex;
    justify-content: space-between;
}

.contact_form{
    padding-right: 50px;
    width: 40%;
}
.contact_form label{
   display: block;
   width: 100%;
}
.contact_form-item{
    padding: 10px;
    padding-left: 0;
}
.contact_form-item input, .contact_form-item textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #ab9200;
    background-color: transparent;
    outline: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    color: #313131;
}
.contact_form-item input::placeholder, .contact_form-item textarea::placeholder{
    color: #ab9200;
}

.contact_form-item input:focus, .contact_form-item textarea:focus{
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.contact_form-item button{
    background-color: transparent;
    border: none;
    color: #ab9200;
    padding: 10px 40px;
    outline: none;
    cursor: pointer;
    transition: .3s ease;
    text-transform: capitalize;
    font-weight: bold;
}
.contact_form-item button:hover{
    background-color: #ab9200;
    color: black;
}
.contact_flex div{
    width: 50%;
}

.contact_social{
    margin-top: 50px;
}
.contact_social img{
    height: 20px;
}
.contact_gegevens{
    
}
.contact_address address{
    text-align: right;
    line-height: 25px;
}
