.images{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 0 20px;
}

.images_column{
    max-width: calc(100% / 3);
}

.images_column img{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    display: block;
}
.images_column-one img{
    padding-left: 0;
}
.images_column-three img{
    padding-right: 0;
}